<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Products</title>
	<script src="https://kit.fontawesome.com/f6369706ad.js" crossorigin="anonymous"></script>
	<link href="../css/path3.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- <p><b>Online Oil Mart -- Feel Free to Shop</b></p> -->
	<div class="topbar">
		<div id="t1">
			<ul class="ul">

				<li><a href="#" id="logo">Amakart</a></li>
				<li>

					<input list="list" class="psea" type="search" placeholder="/search">
					<datalist id="list">
						<select>
							<option></option>

						</select>
					</datalist>

				</li>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>

				<!-- Disable this when User logins to the page -->
				<!-- <li class="status" >User Name</li> -->


				<li><a th:if="${condition}" href="/user/profile/edit">Edit Profile</a></li>
				<li><a th:if="${condition}" href="/user/profile">Your Profile</a></li>
				<li>
					<form th:if="${condition}" th:action="@{/logout}" method="post"><input type="submit"
							value="Logout" /></form>
				</li>
				<li><a th:unless="${condition}" href="/signup">Sign Up</a></li>
				<li><a th:unless="${condition}" href="/login">Login</a></li>
				<i th:if="${condition}" class="fas fa-bars" id="menu"></i>
				<li><a href="#"><i class="fas fa-shopping-cart" class="icon"></i><sup>0</sup></a></li>
			</ul>
		</div>
	</div><br>
	<!-- main data added -->
	<div class="main-content">
		<div class="content-img">
			<center>
				<img class="product-img"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKTuTH7cFUzIwXSNQHTGuaWzOpWs7HNjTBxw&usqp=CAU"
					alt="refresh" \>
			</center>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Product Name</label>
			</div>
			<hr>
			<div class="title-content">
				<label>Dslr Camera</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Brand</label>
			</div>
			<hr>
			<div class="title-content">
				<label>Dslr</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Cost</label>
			</div>
			<hr>
			<div class="title-content">
				<label>$500</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Header</label>
			</div>
			<hr>
			<div class="title-content">
				<label>Most of us wonder if there is a God and if He really is the God of the Bible.
					In the Bible God says ‘I will make your name great’ and today the name of Abraham/Abram
					is known worldwide. This promise has come true. The earliest copy of Genesis found
					in the Dead Sea Scrolls is dated 200-100 B.C. which means the promise has been in
					writing since at least that time. At that time the name of Abraham was not well-known
					so the promise came true only after it was written down, not before.</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Email Id</label>
			</div>
			<hr>
			<div class="title-content">
				<label>email1234@gmail.com</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Phone Number</label>
			</div>
			<hr>
			<div class="title-content">
				<label>456823456</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Location</label>
			</div>
			<hr>
			<div class="title-content">
				<label>Madurai</label>
			</div>
		</div>
		<div class="description-card">
			<div class="title-card">
				<label>Address</label>
			</div>
			<hr>
			<div class="title-content">
				<label>No 12/231 manavanu nagar,kavari ,madurai ,</label>
			</div>

		</div>
		<button class="product-button">
			<center>Add To Cart</center>
		</button>
		<button class="product-button">
			<center>Chat Will Seller</center>
		</button>
		<button class="product-button">
			<center>Contact Seller</center>
		</button>
	</div>

	<!-- bottom -->
	<div id="bottom">
		<button id="down"><a href="#t1">Back To Top</a></button>
		<label class="title">AMAKART</label>
		<div class="description-bottom">
			<ul class="ul-des-t1">
				<li><a href="amakart.html">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="login.html">Login</a></li>
				<li><a href="signup.html">Signup</a></li>
			</ul>
			<ul class="ul-des-t2">
				<li><a href="profile.html">Profile</a></li>
				<li><a href="profiled.html">Edit Profile</a></li>
				<li><a href="#">View Product</a></li>
				<li><a href="productd.html">Sell Product</a></li>
			</ul>
			<ul class="ul-des-t3">
				<li><a href="#">Help</a></li>
				<li><a href="#">Cart Page</a></li>
				<li><a href="#">Seller's Profile</a></li>
			</ul>
		</div>


	</div>
	<style src="../js/amakart.js"></style>
</body>

</html>